@page "/"

<h1><b>Tempus Hub</b></h1>
<br />
<br />

<YoutubeVideosComponent Channel="TF2RJweekly" IsId="false" ParentCardType="BlazorStrap.CardType.Deck" VideoCount="4"/>
<br />
<YoutubeVideosComponent Channel="UC3dQqjaLsbiqQE0QSWl1Wfg" IsId="true" ParentCardType="BlazorStrap.CardType.Columns" VideoCount="12"/>
<br />
View the navigation bar for more
