@page "/recentrecords"

@using TempusHubBlazor.Data
@using TempusHubBlazor.Models.Tempus.Activity
@using TempusHubBlazor.Models.Tempus.Responses
@using TempusHubBlazor.Utilities
@inject TempusDataService TempusDataService

<h1>Recent Records</h1>

@if (records == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <colgroup>
            <col width="2*"/>
            <col width="1*"/>
            <col width="1*"/>
        </colgroup>
        <thead>
            <tr>
                <th>Map</th>
                <th>Player</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in records)
            {
                <tr>
                    <td>@record.MapInfo.Name</td>
                    <td>@record.PlayerInfo.Name</td>
                    <td>@TempusUtilities.FormattedDuration(record.RecordInfo.Duration) (@TempusUtilities.GetWRSplitString(record.CachedTime, GetZonedRecords(record)))</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    MapWr[] records;

    protected override async Task OnInitializedAsync()
    {
        records = (await TempusDataService.GetRecentActivityAsync()).MapRecords.ToArray();
    }

    private ZonedRecordsModel GetZonedRecords(MapWr record)
    {
        return TempusDataService.GetTopZonedTimes(record.MapInfo.Name, record.ZoneInfo.Type, record.ZoneInfo.Zoneindex).GetAwaiter().GetResult();
    }
}
