@inject TempusDataService TempusDataService
@using TempusHubBlazor.Data
@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <SearchBar />
        <iframe src="https://github.com/sponsors/Hona/button" title="Sponsor Hona" height="35" width="116" style="border: 0;"></iframe>
        <a href="https://discordapp.com/invite/q2F6kTK" target="_blank"><span class="fab fa-discord fa-2x"></span></a> <a href="https://github.com/Hona/TempusHub" target="_blank"><span class="fab fa-github fa-2x"></span></a> <a href="https://tempus.xyz" target="_blank">Tempus Jump Network</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
