@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <p>
            <a href="https://discordapp.com/invite/q2F6kTK" target="_blank">Discord</a>
            <a href="https://github.com/TheRealHona/TempusHub" target="_blank">GitHub</a>
            <a href="https://tempus.xyz" target="_blank">Tempus Jump Network</a>
        </p>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
