@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #313131;
    color: white;
}

a, .btn-link {
    color: #039cd6;
}

table.multi-table {
    display: inline-table !important;
}

.heading-wrapper {
    text-align: center;
    display: block;
    position: relative;
}

.table-dark.table-bordered {
    border: 2px solid #454d55 !important;
}

.table-dark td {
    border: none;
    padding: 20px 20px 20px 20px;
}

.table-dark th {
    border: none;
    padding: 20px 20px 20px 20px;
}

thead {
    border-bottom: 2px solid #454d55 !important;
    border: none;
    padding: 20px 20px 20px 20px;
}

h1 {
    display: inline !important;
}

.dark-inner {
    background-color: #1f1f1f;
}

h1.slim-center, h4.slim-center, p.slim-center, div.slim-center, span.slim-center, i.slim-center {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

table.slim-center {
    display: table;
    width: auto !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.bsDropDown {
    position: absolute;
    right: 0;
    top: 0;
}

.bsDropdown-menu {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -15px);
}

.bsDropDownZones {
    position: relative !important;
    padding: 15px 15px 15px 15px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.nav-top-row {
    border-bottom: 1px solid #000000;
}

.main .top-row {
    background-color: #1f1f1f;
    border-bottom: 1px solid #000000;
    justify-content: flex-end;
    z-index: 100;
}

    .main .top-row > a {
        margin-left: 1.5rem;
    }

.sidebar {
    background-image: linear-gradient(25deg, #131313, #313131)
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.search-bar {
    border: none;
    font-size: 16px;
    color: white;
    transition: 0.2s;
    background-color: #272727;
    float: left;
    width: 250px;
}

body > app > div.main > div.top-row.px-4 > div .dropdown, .dropdown-header, .dropdown-style, .dropdown-divider {
    color: white;
    background-color: #272727;
}

.dropdown-divider {
    border-color: #232323;
}

.dropdown-menu.show {
    overflow: hidden;
    width: 250px;
}

.country-group-list {
    background: none;
}

.country-group-list-item:nth-child(odd) {
    background-color: #3c434a;
}

.country-group-list-item:nth-child(even) {
    background-color: #3f4750;
}

.spinner {
    border: 8px solid silver;
    border-top: 8px solid #337AB7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 700ms linear infinite;
    top: 20%;
    left: 45%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.spinner-item {
    height: 60px;
}

    .search-bar:hover, .search-bar:focus .search-bar.active {
        border: none;
        border-radius: 4px;
        font-size: 16px;
        color: white;
        transition: 0.2s;
        background-color: #2d2d2d;
        outline-width: 0;
        box-shadow: none;
    }

    .search-bar:focus {
        border: none;
        border-radius: 4px;
        font-size: 16px;
        color: white;
        transition: 0.2s;
        background-color: #2d2d2d;
        outline-width: 0;
        box-shadow: none;
    }

.hide {
    display: none;
}

.search-results {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -15px);
}

.search-wrapper {
    position: relative;
}

@media (max-width: 1101.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 1102px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
